			
			body{
				background-color: #310062;
				padding: 8px;
			}
			h1 {
				color: #FFF;
				text-shadow: 2px 2px 2px #000;
			}
			a {
				color: #FFF;
				text-decoration: none;
			}
			
			.ft {
				font-size: .5em;
			}